cns-valve-sso/src/main/resources/identity-sso.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='urn:org:jboss:portal:josso:identitystore'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='urn:org:jboss:portal:josso:identitystore'>

  <!-- element for type: org.jboss.portal.identity.sso.josso.JOSSOIdentityStore -->
  <xs:element name='portal-store'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='authenticationScheme' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded'/>
      </xs:sequence>
      <xs:attribute name='authenticationScheme' type='xs:string'/>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
